.appBar {
    display: flex;
    gap: 20px;
    background: var(--blue);
    height: var(--appbar_height);
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

a, a:visited, a:active {
    color: var(--background);
    font-size: 18px;
    text-decoration: none;
}
