* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

#root {
    /*colors*/
    --blue: #008AF5;
    --background: #F2F6F8;

    /*sizes*/
    --appbar_height: 60px;
}
